/* Form styles */

form {
  border: 1px;
  border-color: black;
  width: 1000px;
  height: 50px;
}

/* Image styles */
.logo {
  width: 300px;
  height: 100px;
}

/* Text styles */

p {
  size: 13px;
  font-family: Arial, sans-serif;
  font-weight; none;
  display: inline;
}

/* List styles */

ul {
  list-style-type: none;
}

li {
  display: block;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: lightblue;
}
