/* Form styles */

form {
  border: 1px;
  border-color: black;
  width: 1000px;
  height: 50px;
}

/* Image styles */
.logo {
  width: 300px;
  height: 100px;
  display: block;
  margin: auto;
  padding-top: 150px;
  padding-right: 100px;
}

/* Text styles */

p {
  size: 13px;
  font-family: Arial, sans-serif;
  font-weight; none;
  display: inline;
}

/* List styles */

ul {
  list-style-type: none;
}

li {
  display: block;
  float: left;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: lightblue;
}

/* CLass styles */

.imageslink {
  padding:
}

/* ID Styles */

#canada
color: #4285f4;
font-size: 16px;
left: 79px;
position: relative;
top: -20px;
white-space: nowrap;
width: 0;
